
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@font-face {
  font-family: "Source Code Pro";
  src:
    local("Source Code Pro"),
    url("/css/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}


body {
  font-family: "Source Code Pro";
}


.fade-animation {
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}